<%- include("header")-%>

<h2>AJAD Group</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ullam minus distinctio quisquam optio quam quas harum dolorem, molestias deleniti maiores fuga aut. Consectetur ad esse quisquam reiciendis quaerat culpa dolorum assumenda fugit, odit aperiam voluptates quae eligendi nesciunt? Iure illum ipsum ducimus commodi quaerat, tempora quae perferendis impedit explicabo aliquid non dolorem repellendus aperiam saepe soluta, eos autem deleniti ratione. Quisquam quia voluptatem ducimus ad odit magni voluptate iure. Vitae non veritatis eligendi corrupti! Dicta ratione quo quis obcaecati quia dolor itaque blanditiis nobis quisquam assumenda, omnis accusamus cumque vel eos aperiam! Magnam sed fugiat, dolorum ea molestiae ullam?</p>

<%- include("footer")-%>